.DS_Store

# Dependencies
node_modules

# Build Directories
/dist

# Uploaded Test Images
src/client/assets/uploads/*

# Test Reports
/test/unit/coverage/
/tests/e2e/reports/
selenium-debug.log

# local env files and sensitive credentials
.env
.env.local
.env.*.local
/*.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log*
*.heapsnapshot

# Cache files
.cache

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
