// General HTML element styles go in this file. These form the base styles that can be modified in the other .styl files of inside the Vue component files.

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Neither "html" nor "body" work for setting base styles in Vue CLI,
// so I have used "div" since the Vue app mounts to a <div> element.
div, header, footer, nav {
  font-family: $sans-font-stack;
  font-size: $base-font-size;
  color: #333;
}

// ====================================
// Typography:
// This includes font families, font sizes, line heights and other
// typographical styles for applicable HTML elements (e.g. <h1>, <p>).
// ====================================
// Add base styles here...



// ==================================================
// Base Styles for Common Elements
// ==================================================
button {
  outline: none;
  border: none;
  padding: 14px;
  cursor: pointer;
  background-color: transparent;
  color: #333;
  &:active, &:focus {
    background-color: transparent;
  }

  &.btn-primary {
    background-color: $ink-blue;
    color: white;
    box-shadow: 2px 2px 3px gray;
    &:hover {
      box-shadow: none;
    }
    .bold {
      font-weight: bold;
    }
  }

  &.btn-secondary {
    border: 1px solid transparent;
    background-color: white;
    color: $ink-blue;
    box-shadow: 2px 2px 3px gray;
    &:hover {
      box-shadow: none;
      border-top: 1px solid gray;
      border-left: 1px solid gray;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
    }
    .bold {
      font-weight: bold;
    }
  }

  &.btn-tertiary {
    background-color: $red;
    color: white;
    box-shadow: 2px 2px 3px gray;
    &:hover {
      box-shadow: none;
    }
    .bold {
      font-weight: bold;
    }
  }

  &.btn-table {
    padding: 7px 10px;
    margin: -7px 0;
  }
}


// ==================================================
// Base Styles for Semantic Elements in HTML5:
// https://www.w3schools.com/html/html5_semantic_elements.asp
// ==================================================
// Add base styles here...



// ==================================================
// Base Styles for Forms
// ==================================================
.input {
  background-color: $light-gray;
}

.mce-content-body {
  background-color: $light-gray !important;
}


// ==================================================
// Miscellaneous Styles
// ==================================================
.full-width {
  width: 100%;
}
