$ink-blue = #00004a;
$medium-gray = #ccc;
$light-gray = #eee;

$green = rgb(22, 92, 22); // #165c16 dark forest green
$red = rgb(139, 0, 0); // #8b0000, dark red

.blue-gradient {
  background-image: radial-gradient(
    ellipse at top left,
    lighten($ink-blue, 15%),
    $ink-blue
  );
}
