// This file should include font definitions, base font size and font stacks.

// ==================================================
// Base Font Size
// ==================================================
$base-font-size = 16px;


// ==================================================
// Font Stacks
// ==================================================
// Sans-serif Fonts:
$sans-font-stack = sans-serif;

// Serif Fonts:
$serif-font-stack = serif;

// Monospace Fonts:
$mono-font-stack = monospace;
